<nav>
  <div class="search-header">
    <h1>FilmFinder.com</h1>
  </div>
  <a href="/" class="button">Home</a>
  <div id="search-Logout">
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Logout</button>
    </form>
  </div>
</nav>
